<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= book.summary %>
  </p>

  <p>
    <strong>Publication year:</strong>
    <%= book.publication_year %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author_id %>
  </p>

</div>
